app = "leetcode-trainer"
primary_region = "arn"

[build]

[env]
  PORT = "3000"
  NODE_ENV = "production"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  size = "shared-cpu-2x"
  memory = "1gb"

[checks]
  [checks.health]
    type = "http"
    port = 3000
    path = "/health"
    interval = "30s"
    timeout = "5s"
